@import 'colors';

#application {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: $black;
}

#application-views {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  overflow: scroll;
}

/* enter animation */
#application-views.ng-enter {
  -webkit-animation: fadeIn 0.2s both ease;
  -moz-animation: fadeIn 0.2s both ease;
  animation: fadeIn 0.2s both ease;
}

#application h1.ng-enter {
   animation: moveFadeIn 3s ease-out forwards;
   animation-iteration-count: 3;
   
   /* Safari and Chrome */
   -webkit-animation:mymove 3s;
    -webkit-animation-iteration-count:3;
}

@keyframes moveFadeIn {
    from {top:-2rem; opacity: 0;}
    to {top:0rem; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */ {
    from {top:-2rem; opacity: 0;}
    to {top:0rem; opacity: 1}
}


/* leave animation */
#application-views.ng-leave {
  -webkit-animation: fadeOut 0.2s both ease;
  -moz-animation: fadeOut 0.2s both ease;
  animation: fadeOut 0.2s both ease;
}

#application-views.ng-leave-stagger {
     transition-delay: 0.2s;
}

#application h1.ng-leave {
    -webkit-animation: fadeOut 0.2s both ease;
  -moz-animation: fadeOut 0.2s both ease;
  animation: fadeOut 0.2s both ease;
}

#application .page-indicator {
  width: 100vw;
  text-align: center;
}

#application .page-indicator i {
  color: white;
  font-size: 0.5rem;
  cursor: pointer;
}

#application form {
  width: 100vw;
  height: 100vh;
  overflow: scroll
}

.blinds {
  background-color: black;
  opacity: 0.8;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

#application *:focus {
  outline: 0;
}

#application input::selection {
  background: #404040;
}

#application::-moz-selection {
  background: #404040;
}

#application *::-webkit-input-placeholder {
   color: $lightBlue;
}

#application *:-moz-placeholder { /* Firefox 18- */
   color: $lightBlue;
}

#application *::-moz-placeholder {  /* Firefox 19+ */
   color: $lightBlue;
}

#application *:-ms-input-placeholder {
   color: $lightBlue;
}

#application header {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  height: 4.5rem;
}

#application header h1 {
  color: white;
  font-size: 1.5rem;
}

#application h2 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    display: inline-block;
}

#application .alert-box {
  background-color: $pink;
  border: 1px solid #BE0000;
}

#application .alert-box ul {
  margin-bottom: 0;
}

#application .alert-box * {
  color: white;
}

#application label {
    color: white;
    font-size: 2rem;
    cursor: auto;
}

#application input[type="text"] {
    background: transparent;
    border: none;
    font-size: 3rem;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    color: $lightBlue;
    display: inline-block;
    padding-right: 0;
    height: 4rem;
}

#application button {
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
    z-index: 200;
    height: 4.81rem;
    width: 22vw;
    margin-top: 3rem;
  
	border: 3px solid $lightBlue;
	color: $lightBlue;
	background: none;
	border-radius: 5px;
  	text-transform: uppercase;
  	text-align: center;
  	cursor: hand;
  	-webkit-transition: border-color 0.3s, color 0.3s, opacity 3s; /* Safari */
  	transition: border-color 0.3s, color 0.3s, opacity 3s;
}

#application button:hover {
	color: $darkBlue;
	border-color: $darkBlue;
}

//Page 2
#track-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#track-area {
    width: 100vw;
    height: 1000vh;
    background-color: $black;
    
    ul {
        list-style: none;
        margin-left: 0;
        float: left;
    }
    
    .measure-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
    }
    
    .measure {
        flex: 1 0 auto;
        background-color: $black;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-style: inset;
        &::before {
            display: block;
            position: relative;
            left: -25%;
            width: 1px;
            background-color: white;
        }
        
        &::after {
            display: block;
            position: relative;
            right: -25%;
            width: 1px;
            background-color: white;
        }
        
        p {
            color: white;
        }
    }
}


#application .track {
    color: white;
    height: 5rem;
    border: 1px solid $black;
    background-color: #000;
    border-radius: 3px;
    border-style: inset;
    
    a, p {
        color: white;
        text-align: center;
        line-height: 5rem;
    }
    
    &.answer {
        
    }
}

#keyboard-piano {
    position: fixed;
    top: 100%;
    
}

#loop-selector {
    z-index: 300;
    position: fixed;
    top: 35vh;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    background-color: $black;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    
    .loop {
        flex: 1 0 auto;
        color: white;
        margin: 40px 30px;
        background-color: rgba($pink, 0.7);
        border: 2px solid $pink;
        border-radius: 3px;
        
        
    }
}

#application .checkbox {
  z-index: 200;
  background: $lightBlue;
  position: absolute;
  top: 5rem;
  left: 5vw;
  width: 90vw;
}

#application  .checkbox .item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

#application  .checkbox .item.checked {
  background: rgba(0, 0, 0, 0.1);
}

#application  .checkbox .item::before {
  content: '\f096';
  font-family: 'FontAwesome';
  margin-right: 0.2rem;
}

#application  .checkbox .item.checked::before {
  content: '\f046';
  font-family: 'FontAwesome';
  margin-right: 0.2rem;
}

#application  .checkbox label {
  position: relative;
  top: 0rem;
  height: 2.5rem;
  margin: 0;
  padding-top: 0.5rem;
}

#application  .checkbox button {
  position: relative;
  float: right;
  height: 2.5rem;
  right: 0;
  margin-top: -4rem;
  top: 1.5rem;
  padding: 0;
}

#application  .checkbox button::after {
  font-size: 1rem;
}

#application .agreements {
  padding: 1rem 0 1rem 0;
}

#application .agreements input[type="checkbox"] {
  display: none;
}

#application .agreements label {
  font-size: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  position: static;
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.3rem;
  height: auto;
  top: 0;
}

#application .agreements input[type="checkbox"] + label::before {
  content: '\f096';
  font-family: 'FontAwesome';
  margin-right: 0.5rem;
}

#application .agreements input[type="checkbox"]:checked + label::before {
  content: '\f046';
  font-family: 'FontAwesome';
  margin-right: 0.4rem;
}

#application #resume-upload {
  background-color: white;
  width: 90;
  border: 1px dashed red;
  text-align: center;
  font-size: 1rem;
  padding: 3rem;
  color: #C0C0C0;
  margin: 0.5rem 0 0.5rem 0;
}

#application #resume-upload .dz-message {
  color: #C0C0C0;
}

#application footer {
  width: 90vw;
  margin: auto;
}

#application footer button {
  width: 90vw;
  height: 4rem;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0;
}

#application footer button span {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 4rem;
  top: 0;
}

#application footer button span i {
  color: white;
  font-size: 2rem;
  width: 20vw;
  margin: auto;
  margin-top: 1rem;
}

@media (min-width: 960px) {

  #application header h1 {
    font-size: 2.5rem;
  }

  #application header {
    height: 6rem;
    margin-bottom: 1rem;
  }

  #application  .input {
    top: 6rem;
  }
  
  #application  .small {
    font-size: 1.5rem;
  }

  #application .tall {
    line-height: 2;
  }

  #application .short {
    line-height: 1;
  }

  #application  .text {
    width: 960px;
  }

  #application  .text input {
    left: auto;
    width: 760px;
  }

  #application  .text label {
    width: 760px;
  }

  #application  .text button {
    width: 200px;
    margin-left: 760px;
    right: auto;
  }

  #application  .select {
    width: 960px;
  }

  #application  .select select {
    left: auto;
    width: 760px;
  }

  #application  .select label {
    width: 760px;
  }

  #application  .select button {
    width: 200px;
    margin-left: 760px;
    right: auto;
  }

  #application  .checkbox {
    position: absolute;
    top: 5rem;
    left: auto;
    width: 960px;
  }

  #application  .checkbox label {
    width: 960px;
  }

  #application  .agreements {
    width: 960px;
  }

  #application  .agreements label {
    font-size: 1.5rem;
    width: 960px;
  }

  #application footer {
    width: 960px;
    margin-top: 2rem;
  }

  #application footer button {
    width: 960px;
  }

  #application footer button span {
    width: 200px;
  }

  #application footer button span i {
    margin-left: -2.5rem;
  }

}
