@import 'colors';

// Mobile First

.snapcode {
	top: 50%;
	transform: translate(50%, -50%);
	-webkit-transition: top 0.5s, transform 0.5s;; /* Safari */
	transition: top 0.5s, transform 0.5s;
}

.snapcode.ng-hide {
	top: 0;
	transform: translate(50%, -100%);
}

.snapcode-background {
	-webkit-transition: opacity 0.5s; /* Safari */
	transition: opacity 0.5s;
}

.snapcode-background.ng-hide {
	opacity: 0.0;
}

#live-wrapper {
	// position: fixed;
	width: 100vw;
	height: 100vh;
	//overflow: hidden;
}

#live, #schedule {
	header img {
		height: 6.2rem;
		width: auto;
	}

	.container, .row {
		margin: 0 auto;
		max-width: 95%;
	}

	header h1 {
		font-family: 'Oswald', sans-serif;
		font-weight: extra bold;
		font-size: 2.2rem;
		width: auto;
		text-align: center;
		margin: 2rem 0 1.5rem;
	}

	h3 {
		width: auto;
	}

	color: white;
	background: black;

	.column, .columns {
		padding-top: 1rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}

	.small {
		font-size: 0.8rem;
	}

	.grey {
		color: darken(white, 20%);
	}

	.messages {
		margin-left: 0;
		list-style-type: none;

		.message {
			margin-top: 15px;
		}

		.message * {
			margin-bottom: 0;
		}
	}
}

#mini-schedule, .messages {
	max-height: auto;
	border-bottom: 1px inset lighten($black, 10%);
	margin-bottom: 5px;
}

.section {
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	background: $black;
}

#play-boombox {
	display: none;
	height: 30vh;
}

#schedule{ 
	background-color: $black;

	h2 {
		text-align: center;
	}

	table {
		padding: 0 !important;
		background: transparent;
		border: none;
		border-spacing: 0;

		p {
			margin: 0;
			line-height: 1;
		}

		h3 {
			margin-bottom: 4px;
		}

		tr{	
			background: transparent;
			td{
				padding-bottom: 50px;
				&:first-child {
					text-align: right;
					border-right: 2px solid $pink;
				}
			}
		}
	}
}


// Medium screens
@media only screen and (min-width: 40.063em) {

	#mini-schedule, .messages {
		max-height: 54vh;
		overflow-y: scroll;
	}

	#play-boombox {
		overflow: hidden;
		display: block;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	#live {
		h1 {
			font-size: 3rem;
		}
	}

	} /* min-width 641px, medium screens */

// Large screens
@media only screen and (min-width: 64.063em) {
	#play-boombox {
		position: absolute;
		bottom: 0;
		left: 80vw;
		transform: translate(0%, 0%);
	}

	#live {
		h1 {
			font-size: 5rem;
		}
	}

	} /* min-width 1025px, large screens */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */