<div id="account">
  <header class="text-center">
    <h1>KHE | Account Settings</h1>
  </header>
  <article>
    <div class="row">
      <div class="small-12 columns">
        <div class="alert-box alert" ng-if="acc.person.errors">
          <ul>
            <li ng-repeat="e in acc.person.errors" class="white">{{e}}</li>
          </ul>
        </div>
        <div class="alert-box success" ng-if="acc.person.successes">
          <ul>
            <li ng-repeat="e in acc.person.successes" class="white">{{e}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns content">
          <div class="row">
            <div class="small-12 columns text-center">
              <div class="labeled-input">
                <input class="neon-input" id="email" required ng-model="acc.person.email">
                <label for="email">NEW EMAIL</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns text-center">
              <div class="labeled-input">
                <input class="neon-input" id="password" type="password" required ng-model="acc.person.password">
                <label for="password">NEW PASSWORD</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="btn" ng-click="acc.person.update()">Save</div>
            </div>
          </div>
      </div>
    </div>
  </article>
</div>