<div id="account">
  <header class="text-center">
    <h1>KHE | Account Recovery</h1> <br>
  </header>
  <article>
    <div class="row" ng-if="!acc.recover.successe">
      <div class="small-12 columns">
          <div class="row">
            <div class="small-12 columns text-center">
              <label>
                <input type="email" class="neon-input" ng-model="acc.recover.email" placeholder="you@example.edu">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="btn" ng-click="acc.recover.submit()">Recover</div>
            </div>
          </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="small-12 columns" ng-if="acc.recover.errors">
        <h2>Error</h2>
        <ul>
          <li ng-repeat="e in acc.recover.errors" class="white">{{e}}</li>
        </ul>
      </div>
      <div class="small-12 columns" ng-if="acc.recover.successe">
        <h2 class="">Success</h2>
        <p class="white">
          We've sent you an email with a new temporary passowrd. Please change it as soon as you can.
        </p>
      </div>
    </div>
  </article>
</div>