<header>
    <h1>{{application.name | application:'name'}}'s New Hit Single</h1>
</header>
<div class="row">
  <h2 class="white medium-12">ADDITIONAL INFO</h2>
  <span class="small white agreements"><input type="checkbox" ng-model="application.travel"> I need travel reimbursement.</span>
  <br>
 </div>
 <div class="row">
  <span class="white">GitHub/LinkedIn/Personal Website link (optional):</span>
  <a ng-click="open('link')" class="small">{{application.link | application:'link'}}</a>
  <div class="loop-selector darkBlue" ng-if="display.link">
          <p class="modal-header">A link to something you've done</p>
    <input type="text" placeholder="github.com/username" ng-model="application.link" pu-elastic-input>

    <button ng-click="closeAll()">Done</button>
  </div>
  <br><br>
  <span ng-if="application.resume" class="small white"><i class="fa fa-check white"></i> Resume uploaded. Upload a new one to replace it (optional):</span>
  <span class="small white" ng-if="!application.resume">Upload your resume (optional):</span>
  <div id="resume-upload" class="dropzone">
    <div class="dz-message">Drop files here or click to upload</div>
  </div>
  <input type="text" ng-model="application.resume" id="resume-filename" style="display:none;">
</div>

<script>
  jQuery(document).ready(function ($) {
    var resume = new Dropzone('div#resume-upload', {
      url: config.api + '/users/application/resume',
      maxFiles: 1,
      acceptedFiles: 'application/pdf,.pdf,.doc,.docx',
      addRemoveLinks: false,
      uploadMultiple: false,
      createImageThumbnails: true,
      paramName: 'resume',
      success: function (file, response) {
        $('#resume-filename').val(response.filename).trigger('input');
      }
    });
  });
</script>
<div class="row">
  <h2 class="white">AGREEMENTS</h2>
  <div class="agreements">
    <input id="cb-conduct" type="checkbox" ng-model="application.conduct">
    <label for="cb-conduct">I agree to the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a></label>
    <input id="cb-demographic" type="checkbox" ng-model="application.demographic">
    <label for="cb-demographic">I agree to allow my demographic information to be used anonymously to improve hackathons</label>
  </div>
</div>
<footer>
  <div data-alert class="alert-box alert" ng-if="application.errors">
    <ul>
      <li ng-repeat="e in application.errors">{{e}}</li>
    </ul>
    <br>
    <a class="white large" ui-sref="apply.page1">Basic Info</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page2">Additional Info</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page3">Agreements</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page4">Summary</a>
  </div>
  <button ui-sref="apply.page5"><span><i class="fa fa-arrow-right"></i></span>Next</button>
</footer>