<header>
    <h1>{{application.name | application:'name'}}'s New Hit Single</h1>
</header>
<div id="mixer">
    <div class="row">
        <div class="fader-wrapper medium-4 small-12">
            <p>Age</p>
            <input ng-init="application.age = 1" type="range" name="age" min="1" max="99" ng-model="application.age">
            <h3>{{application.age}}</h3>
        </div>
        <div class="fader-wrapper medium-4 small-12">
            <p>Class Standing</p>
            <input ng-init="yearIndex = 0" type="range" name="age" min="0" max="3" ng-model="yearIndex">
            <h3>{{application.year[yearIndex]}}</h3>
        </div>
        <div class="fader-wrapper medium-4 small-12">
            <p>T-Shirt Size</p>
            <input ng-init="shirtIndex = 0" type="range" name="age" min="0" max="3" ng-model="shirtIndex">
            <h3>{{application.shirt[shirtIndex]}}</h3>
        </div>
    </div>
    <button ui-sref="apply.page4"><span><i class="fa fa-arrow-right"></i></span> Next</button>
</div>
